
#wrapper {
	clear: both;
}
section {
	display: block;
	float: left;
	position: relative;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin: 5px;
	font: normal 12px/130% Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
	overflow:hidden;
	height: 200px;
}

header {
	display: block;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	-webkit-border-top-left-radius: 5px 5px;
	-webkit-border-top-right-radius: 5px 5px;
	padding:8px 0px 8px 8px;
}

.content {
	padding: 20px 2px 0;
	padding: 5px 0;
}

.tiny {
	width: 14.5%;
	min-width: 200px;
}
.small {
	width: 30%;
	min-width: 200px;
}
.medium {
	width: 60.8%;
	height: 300px;
}
.large {
	width: 91.5%;
}

h1 {
	font: bold 14px/130% Verdana, Arial, Helvetica, sans-serif;
	background: none;
	text-indent: 0;
	font-size: 14px;
	font-weight: bold;
	color: white;
	text-shadow: 0 1px 0 #222;
	margin: 0;
	text-transform: uppercase;
	padding: 0;
}
h1 span {
	font-size: 11px;
	font-weight: normal;
	text-transform: none;
	padding-left: 10px;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #fff;
	text-decoration: underline;
}
.loading {
	margin: 20px auto;
	text-align: center;
}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }